body {
  position: fixed;
  margin: 0;
}

/*canvas {
  vertical-align: bottom;
}*/

.background {
  margin-top: -150px;
  position: fixed;
  z-index: 0;
  font-size: 250px;
  font-family: "Arial";
  line-height: 0px;
  mix-blend-mode: overlay;
}
